*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0%;
    padding: 0%;
}
html, body{
    width: 100%;
    height: 125%;
    font-size: 14px;
    font-weight: normal;
    background-image: url(https://i.pinimg.com/564x/5e/95/dc/5e95dc905346b90162454dcc0c7bbfc7.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:  100% 100%;
    position: relative; 
    overflow-y: auto; 
}
h2{
    color: rgb(58, 132, 228);
    font-size: 25px;
}
p{
    font-size: 1.5em; 
}
li{
    list-style-type:none;
}
.background{
    width: 100%;
    height: 100%;
}
.nav{
    width: 350px;
    height: auto;
    position: absolute;
    top: 20%;
    right:0; 
}
.nav a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    height: 90px;
    margin: 5px 0;
    float: right;
    background-color: black;
    box-shadow: 0 9px #999;
    color: whitesmoke; 
    line-height:  90px;
    text-align: center;
    transition: 300ms;
}

a .active, .nav a:hover{
    background-color: rgb(0, 32, 92);
    text-align: right;
    padding-right: 20%;
    color: rgb(111, 206, 230);
    width: 100%;
}

.a{
  width: 55%;  
  border-radius: 25px;
}
.b{
    width: 55%;  
    border-radius: 25px;
}
.c{
    width: 55%;  
    border-radius: 25px;
}
.d{
    width: 55%;  
    border-radius: 25px;
}
.F{
    width: 55%;  
    border-radius: 25px;
}
.content{
    top:10%;
    position: absolute;
    width: 70%;
    min-height: 500px;
    height: auto;
    left: 0;
    top: 15%;
}
.home{
    position: fixed;
    top: 0;
    padding-bottom:20%; 
    width: 100%;
    left: 30px;

    bottom: 80%;
    color: white;
    width: 100%;
    text-transform: uppercase;
}


.home h1{
    width: 100%;
    font-size: 40px;
    padding-right: 90px;
    border-bottom: 1px solid white;
    text-transform: capitalize;
}
.home h2{
    padding: 5px 0;
    opacity: 0.89;
}
.about{
    position: absolute;
    bottom: -50px;
    color:white;
    text-size-adjust: 10px;
    font-weight: bold;
    padding: 0;
    top: 10px;
    left: 0%;
    margin-top: 20%; 
    margin-left: 0;    
    width: 80%;
}
/*tmk fix html*/
p + p {
    text-indent: 2em;
   } 
   .aboutlowerBoxer{
    border-style: outset;
    border-top-style: none;
    padding: 20px;
    background-color: rgb(36, 116, 221);        
   }
.aboutBoxer{
    text-indent: 2em;
    border-style: outset;
    border-bottom-style: none;
    padding: 20px;
    background-color: rgb(36, 116, 221); 
}
.about h2{
    color: rgb(36, 116, 221);
   text-align: center;
    font-size: 25px;
    line-height: 28px;
    margin-bottom: 15px;
}
/*tmk fix html*/

.about p{
    line-height: 28px;
    background-color:  rgb(14, 117, 212);
    font-size: 18px;
}
.gallery{
    margin-top: 20%;
    position: absolute;
    left: 0;
    top: 10px;
    color: white;
    width: 80%;
    display: none;
    float: right;
}
.gallery p{
    background-color:  rgb(0, 132, 255);
}
.gallery ul{
    left: 0;
    border-style: outset;
    font-size: 14px;
    margin-bottom: 15px;
} 
.gallery img{
    width: 100%;
}
 .zoomer:hover {
    -ms-transform: scale(0.9); /* IE 9 */
    -webkit-transform: scale(0.9); /* Safari 3-8 */
    transform: scale(0.9); 
  }

.smallwidth{
    width:100%;
    padding: 10px;
    text-align: left;
}

.imagecontact{
    float: left;
    width: 50%;
    padding: 5px; 
}
.contact{
    padding-top:10%; 
    top: 25px;
}
.contact::after {
    content: "";
    clear: both;
    display: table;
}

.inquiry{
    top: 10px;
    margin-top: 25%;
    color:white;
    border-style: inset;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 15px;
    background-color:  rgb(14, 117, 212);
    width: 80%;
    padding: 15px; 
}
.labels  .inquiry{
    font-size: 18px;
    font-style: bold; 
}

.rowTab .inquiry{
    font-size: 18px;
}     
.inquiry h2{
    color:white;
    text-align: center;
}
.listmaker{
list-style: none;
}
.textAreaWrite{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}
#form-outer{
    border-style: outset;
}
.buttonForm{
    border-style: outset;
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: rgb(0, 32, 92);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;  
}
#submit:hover{
    background-color: #3e8e41
}
#reset:hover{
    background-color: #8f3131
}
.buttonForm:active{
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
#submit{
    float: right;
}
/* Extra small devices (phones, 600px and down) */
/*@media only screen and (max-width: 600px) {
  }
*/
    /* For tablets: */
   @media only screen and (min-width: 680px) {

       .a{
        width: 55%;  
      }
      .b{
          width: 65%;  
      }
      .c{
          width: 70%;  
      }
      .d{
          width: 70%;  
      }
      .F{
          width: 70%;  
      }
      .home h1{
          color: white;
        font-size: 60px;
    }
  .inquiry{
    margin-left:10%; 
    }
    a .active, .nav a:hover{
        background-color: rgb(0, 32, 92);
        text-align: center;
        padding-right: 0%;
        color: rgb(111, 206, 230);
        width: 100%;
    }
  }
/*only for large screen*/
  @media only screen and (min-width: 768px) {
        .a{
        width: 55%;  
      }
      .b{
          width: 65%;  
      }
      .c{
          width: 70%;  
      }
      .d{
          width: 78%;  
      }
      .F{
          width: 50%;  
      }
      .home h1{
        font-size: 60px;
  }
  .home h2{
    color: rgb(79, 203, 235);
}
  .about {
    margin-left:10%; 
}
.gallery{
    padding: 0 60px;
}

.imagecontact{
    float: left;
    width: 33%;
    padding: 5px;
    margin-left:0%; 
}
.contact{
    margin-left:10%;     
}
.heightmaker{
    padding: 70px;
}
  .inquiry{
    margin-left:10%; 
    }
}


